@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(56, 15, 95);
    color: aliceblue;
    height: 75px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer {
    background-color: rgb(197, 201, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
}

.box {
    border: 2px solid black;
    font-size: 4vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(160, 218, 220);
}

.info {
    font-size: 20px;
}

.gameInfo {
    text-align: center;
    margin-top: 20px;
    font-family: 'Comic Neue', cursive;
}

.gameInfo h1 {
    font-size: 2.5rem;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 6px 14px;
    background: rgb(24, 172, 96);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
}

.line {
    background-color: crimson;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}

.copyright{
    background-color: rgb(56, 15, 95);
    color: aliceblue;
    text-align: center;
    font-family: 'Comic Neue', cursive;
}

@media screen and (max-width: 950px) {
    .container {
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    .gameInfo h1 {
        font-size: 1.5rem;
    }
}
